version: '3.8'

services:
  # Базы данных (используем одну для всех инфраструктурных сервисов)
  postgres-infra:
    image: postgres:17
    environment:
      POSTGRES_DB: infra
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata-infra:/var/lib/postgresql/data
    networks:
      - bank-network

  service-discovery:
    build:
      context: ./service-discovery
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    depends_on:
      - postgres-infra
    networks:
      - bank-network
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-infra:5432/eureka
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

  config-server:
    build:
      context: ./config-server
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    depends_on:
      - service-discovery
    networks:
      - bank-network

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - service-discovery
      - config-server
    networks:
      - bank-network
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka

networks:
  bank-network:
    driver: bridge

volumes:
  pgdata-infra: