version: '3.8'

services:
  service-discovery:
    build:
      context: ./service-discovery
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    networks:
      - bank-network

  config-server:
    build:
      context: ./config-server
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    networks:
      - bank-network

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
    depends_on:
      - config-server
      - service-discovery
    networks:
      - bank-network

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
    depends_on:
      - config-server
      - service-discovery
    networks:
      - bank-network

  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
    depends_on:
      - config-server
      - service-discovery
    networks:
      - bank-network

  application-service:
    build:
      context: ./application-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
    depends_on:
      - config-server
      - service-discovery
    networks:
      - bank-network

  assignment-service:
    build:
      context: ./assignment-service
      dockerfile: Dockerfile
    ports:
      - "8084:8084"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
    depends_on:
      - config-server
      - service-discovery
    networks:
      - bank-network

networks:
  bank-network:
    driver: bridge