version: '3.8'

services:
  # Базы данных
  postgres-infra:
    image: postgres:17
    environment:
      POSTGRES_DB: infra
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata-infra:/var/lib/postgresql/data
    networks:
      - bank-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  service-discovery:
    build:
      context: ./service-discovery
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    depends_on:
      postgres-infra:
        condition: service_healthy
    networks:
      - bank-network
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-infra:5432/infra
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      EUREKA_INSTANCE_HOSTNAME: service-discovery  # Важно!
    hostname: service-discovery  # Важно!

  config-server:
    build:
      context: ./config-server
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    depends_on:
      - service-discovery
    networks:
      - bank-network
    environment:
      EUREKA_INSTANCE_HOSTNAME: config-server
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
    hostname: config-server

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - service-discovery
      - config-server
    networks:
      - bank-network
    environment:
      EUREKA_INSTANCE_HOSTNAME: gateway
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://service-discovery:8761/eureka
      SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED: "true"
    hostname: gateway

networks:
  bank-network:
    driver: bridge

volumes:
  pgdata-infra: